* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 50px;
    background-color: rgb(239, 239, 239);
  }
  h2{
    text-align: center;
  }
  button{
    width: 100%;
    padding: 10px;
    background-color: rgba(107, 107, 107, 0.682);
    color: white;
    border: transparent;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.2s ease;
  }
  button:hover{
    background-color: rgb(0, 140, 255);
    transition: 0.2s;
    cursor: pointer;
  }
  .container{
    background-color:rgb(255, 255, 255);
    width: 500px;
    height: auto;
    padding: 30px;
    border: 1px solid rgba(128, 128, 128, 0.175);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 300px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.087);
  }
  label{
    color:rgb(174, 174, 174)
  }
  .container select{
    border: transparent;
    border-bottom: 3px solid rgb(214, 212, 212);
    font-size: 18px;
    transition: 0.1s;
  }
  .container select:hover{
    border-bottom: 3px solid rgb(0, 140, 255);
    font-size: 18px;
    transition: 0.6s;
  }
  .container select:focus{
    color: rgb(0, 119, 255);
  }
  .container input{
    font-size: 20px;
    width: 90%;
    border: transparent;
    border-bottom: 3px solid rgb(214, 212, 212);
  }
  .container input:hover, .container input:focus{
    border-bottom: 3px solid rgb(0, 140, 255);
    transition: 0.6s;
  }
  .column {
    float: left;
    width: 50%;
  }

  .cl_sect:after {
    content: "";
    display: table;
    clear: both;
  }
  